h1 {
  font-size: 40px;
  font-weight: 600;
  color: black;
  margin-top: 35px;
}

.btn-outline-primary {
  color: black;
  border: solid 1px black;
}

.btn-primary {
  color: black;
  border: solid 3px black;
  font-weight: bold;
}

.form-group.row {
  color: black;
}

.form-control {
  color: black;
}

tr {
  color: black;
}

.tasks {
  color: black;
}

.btn-danger {
  color: red;
}